[submodule "Packages/com.edanoue.eh.base"]
	path = Packages/com.edanoue.eh.base
	url = https://github.com/edanouenohato/com.edanoue.eh.base.git
[submodule "Packages/com.edanoue.developments"]
	path = Packages/com.edanoue.developments
	url = https://github.com/edanoue/com.edanoue.developments.git
[submodule "Packages/com.firelight.fmod-for-unity"]
	path = Packages/com.firelight.fmod-for-unity
	url = https://github.com/edanouenohato/com.firelight.fmod-for-unity.git
[submodule "Packages/com.edanoue.eh.resource"]
	path = Packages/com.edanoue.eh.resource
	url = https://github.com/edanouenohato/com.edanoue.eh.resource.git
